<div class="post-card">
  <div class="my-post">
    <h2><%=@post.author.name%><%= @post.title %></h2>
    <div class="post-counters">
      <p>Number of comments: <%= @post.comments_counter %></p>
      <p>Number of likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <div class="post">
    <p><%= @post.text %></p>
  </div>
</div>
 <div class="comments">
  <% if @post.comments.empty? %>
    <p>No comments yet!</p>
  <% else %>
    <% @post.comments.each do |comment| %>
    <p><%= comment.author.name%><%= comment.text %></p>
    <% end %>
    <% end %>
  </div>