<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "styles", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <% if user_signed_in? %>
                        <li class="nav-item ">
                            <%= link_to current_user.email, edit_user_registration_path, class:'nav-link text-white mx-3 my-auto' %>
                        </li>  
                        <li class="nav-item active">
                            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'nav-link text-white mx-3 my-auto' %>
                        </li>  
                      <% else %> 
                        <li class="nav-item">
                            <%= link_to 'Sign Up', new_user_registration_path, class:'nav-link text-white mx-3 my-auto' %>
                        </li>  
                     
                     <li class="nav-item">
                        <%= link_to 'Sign In', new_user_session_path, class:'nav-link text-white mx-3 my-auto' %>
                    </li>   
                  <% end %>   
        </ul>
     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
